<section class="phx-hero">
  <div class="match-card">
    <div class="main-photo">
      <img src="/images/annapurna.jpg" alt="match photo" />
    </div>
    <div class="info" style="text-align: left;">
      <h1>
        <%= name("Annapurna")%>, <%= age(2) %>
        <p style="text-transform: capitalize"><%= breed("persian") %></p>
      </h1>
    </div>
</section>