<section class="phx-hero">
  <h1>
    <%= name("Lise Carpenter")%>
    <p>It is currently <%= DateTime.utc_now() %></p>
    <p><%= add(2,3) %></p>
    <p><%= divide(6,3) %></p>
    <p><%= trunc(3.579) %></p>
    <p><%= round(3.579) %></p>

  </h1>
</section>