<section class="phx-hero">
  <div class="match-card">
    <div class="main-photo">
      <img src="/images/annapurna.jpg" alt="match photo" />
    </div>
    <div class="info" style="text-align: left;">
      <h1 style="font-weight: bold; margin-bottom: 0; color: #282828;">
        <%= name("Annapurna")%>, <%= age(2) %>
      </h1>
      <p style="text-transform: capitalize; color: #555;"><%= breed("persian") %></p>
      <div class="action-buttons" style="text-align: center; width: 100%;">
        <button data-confirm="Are you sure?" id="no">No 👎</button>
        <button data-confirm="It's a match!" id="yes">Yes 👍</button>
      </div>
    </div>
</section>